@font-face
{
font-family: gillBook;
src: url(gillsansmtpro-book-webfont.woff);
}

@font-face
{
font-family: gillLight;
src: url(gillsansmtpro-light-webfont.woff);
}

@font-face
{
font-family: gillLightItalic;
src: url(gillsans-light-italic.woff);
}


* {
   margin: 0;
   padding: 0;
   font-family: gillLight;
   outline: 0;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: none;
}


*:active {
   outline: 0;
}


canvas:focus { outline: 0; }


html, body {
}

html {
}


body {
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    background: #000 url('../images/bkgrnd2.png') no-repeat center center; background-size: cover;
}

a:link {text-decoration:none; color: #fff;} a:visited {text-decoration:none;color: #fff;} a:hover {text-decoration:none;color: #fff;} a:active {text-decoration:none;color: #fff;}

.main {
}

.main-btn {
    padding: 20px;
    font-size: 200%;
    background-color: #444;
    border-color:#fff;
}

.main-btn:hover {
    background-color: #444;
    border-color:#fff;
}

.main-btn:active {
    background-color: #666;
    border-color:#fff;
}

.application-btn {
    padding: 40px;
}

